#exportPattern(".*")
import(XML)
import(methods)

export(readPDFXML)
export(findAbstract)
export(getSectionText, getDocText)

export(pdfText, pdf_text)

export(getTextFonts, getFontInfo)

export(bodyLine)

export(getPageFooter)

export(getDocTitle, getDocTitleString)

export(isScanned, isScanned2)
export(getColPositions)

export(lapply, sapply)
exportMethods(lapply)
exportMethods(sapply)

export(length)
exportMethods(length)

export(dim)
exportMethods(dim)

S3method("[", "ConvertedPDFDoc")
S3method("[[", "ConvertedPDFDoc")

export(plot)
S3method(plot, PDFToXMLPage)


export(getNumCols)
S3method(getNumCols,character)


export(getColPositions)
S3method(getColPositions,character)

S3method(pageOf, list)


S3method(isTitleBad, character)



