#exportPattern(".*")
import(XML)
import(methods)

export(readPDFXML)
export(findAbstract)
export(getSectionText, getDocText)

export(pdfText, pdf_text)

export(getTextFonts, getFontInfo)


export(bodyLine)
    


export(getPageFooter)


export(getDocTitle, getDocTitleString)

export(isScanned, isScanned2)
export(getColPositions)

export(lapply, sapply)
exportMethods(lapply)
exportMethods(sapply)

export(length)
exportMethods(length)

export(dim)
exportMethods(dim)

export(plot)
S3method(plot, PDFToXMLPage)


export(getNumCols)
S3method(getNumCols,character)
S3method(getNumCols,PDFToXMLPage)
S3method(getNumCols,PDFToXMLDoc)


export(getColPositions)
S3method(getColPositions,character)
S3method(getColPositions,XMLInternalElementNode)
S3method(getColPositions,PDFToXMLPage)
S3method(getColPositions,PDFToXMLDoc)

export(pageOf)
S3method(pageOf, list)
S3method(pageOf, XMLInternalNode)
S3method(pageOf, XMLInternalElementNode)


export(isTitleBad)
S3method(isTitleBad, character)
S3method(isTitleBad, XMLInternalNode)
S3method(isTitleBad, list)


