#exportPattern(".*")
import(XML)
import(methods)
importFrom(graphics, plot)

importFrom("grDevices", "rgb")
importFrom("graphics", "par", "rect", "symbols")
importFrom("stats", "median", "quantile")
importFrom("utils", "URLdecode", "adist")

import(Dociface)

export(readPDFXML)
export(findAbstract)
export(getSectionText, getDocText, findSectionHeaders)

export(pdfText, pdf_text)

export(getTextFonts, getFontInfo)

export(bodyLine)

export(getPageFooter)

export(getDocTitle, getDocTitleString)

export(isScanned, isScanned2)
export(getColPositions)

export(lapply, sapply)
exportMethods(lapply)
exportMethods(sapply)

export(length)
exportMethods(length)
export(getNumPages)
exportClass("PDFToXMLDoc")
exportClass("ConvertedPDFDoc")

export(dim)
exportMethods(dim)

S3method("[", "ConvertedPDFDoc")
S3method("[[", "ConvertedPDFDoc")

export(plot)
S3method(plot, PDFToXMLPage)
S3method(plot, PDFToXMLDoc)


export(getNumCols)
S3method(getNumCols,character)
S3method(getNumCols,PDFToXMLPage)


S3method(getColPositions,character)
S3method(getColPositions,XMLInternalElementNode)
S3method(getColPositions,XMLInternalDocument)
S3method(getColPositions,PDFToXMLPage)

S3method(pageOf, list)
S3method(pageOf,XMLInternalElementNode)

export(columnOf)
exportMethods(columnOf)

S3method(isTitleBad, character)



export(getBBox, getBBox2)
S3method(getBBox2, XMLNodeSet)
S3method(getBBox2, list)
S3method(getBBox2, XMLInternalNode)
S3method(getBBox2, PDFToXMLPage)
S3method(getBBox2, PDFToXMLDoc)

S3method(getTextBBox, XMLNodeSet)
#S3method(getTextBBox, list)
S3method(getTextBBox, XMLInternalNode)
S3method(getTextBBox, PDFToXMLPage)
#S3method(getTextBBox, PDFToXMLDoc)


S3method(getBBox, XMLNodeSet)
S3method(getBBox, list)
S3method(getBBox, PDFToXMLPage)
S3method(getBBox, XMLInternalNode)
S3method(getBBox, PDFToXMLDoc)

S3method(getShapesBBox, XMLNodeSet)
#??? S3method(getShapesBBox, list)
S3method(getShapesBBox, PDFToXMLPage)
S3method(getShapesBBox, XMLInternalNode)
#S3method(getShapesBBox, PDFToXMLDoc)


export(getPageHeader)


export(getPublicationDate, getDatePublished)


export(getPages)
export(getTables)




export(inColumn)

export(isCentered)



export(showPage)


export(convertPDF2XML)

export(findTable)


export(getDocFont)
export(getDocWords)

export(getTextByCols)



# export(
#assembleLine
# ,gapBetweenSegments
# ,getTextAfter
# ,removeRotated
# ,combineBBoxLines
#)

export(getPageLines)


# Bad name as it seems like drawn lines not lines of text.
# Rename to be getTextLines. or getTextByLine.
export(getLines)
export(getLinks)


#XXX export(margins)

export(isBold, isItalic)



exportMethods(getPages, getNumPages)
#exportMethods(dim, length)
S3method(dim, "PDFToXMLPage")
S3method(length, "ConvertedPDFDoc")

exportMethods(right, bottom, width, height)

exportMethods(getTextColors)
